## 무비렌즈 데이터에 적용한 추천 엔진

In [15]:
# 데이터 가져오기
import pandas as pd
ratings = pd.read_csv('./Data/ml-latest-small/ratings.csv')
movies = pd.read_csv('./Data/ml-latest-small/movies.csv')

In [16]:
# 데이터 확인하기 - ratings
ratings.head()

   userId  movieId  rating  timestamp
0       1        1     4.0  964982703
1       1        3     4.0  964981247
2       1        6     4.0  964982224
3       1       47     5.0  964983815
4       1       50     5.0  964982931

In [17]:
# 데이터 확인하기 - movies
movies.head()

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy

In [20]:
# 두 데이터에서 movieID가 공통 컬럼 -> 데이터 프레임 통합하기 : merge
ratings = pd.merge(ratings, movies, left_on = 'movieId', right_on = 'movieId').drop(['timestamp', 'genres'], axis = 1)

In [22]:
# 데이터 확인
ratings

        userId  movieId  rating                             title
0            1        1     4.0                  Toy Story (1995)
1            5        1     4.0                  Toy Story (1995)
2            7        1     4.5                  Toy Story (1995)
3           15        1     2.5                  Toy Story (1995)
4           17        1     4.5                  Toy Story (1995)
...        ...      ...     ...                               ...
100831     610   160341     2.5                  Bloodmoon (1997)
100832     610   160527     4.5  Sympathy for the Underdog (1971)
100833     610   160836     3.0                     Hazard (2005)
100834     610   163937     3.5                Blair Witch (2016)
100835     610   163981     3.5                         31 (2016)

[100836 rows x 4 columns]

In [24]:
# userId => Index, columns => movieId로 하는 pivot_table 만들기
rp = ratings.pivot_table(index = ['userId'], columns = ['movieId'], values = ['rating'])

In [25]:
# 데이터 확인
rp

        rating                                                                 \
movieId 1      2      3      4      5      6      7      8      9      10
userId
1          4.0    NaN    4.0    NaN    NaN    4.0    NaN    NaN    NaN    NaN
2          NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN
3          NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN
4          NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN
5          4.0    NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN
...        ...    ...    ...    ...    ...    ...    ...    ...    ...    ...
606        2.5    NaN    NaN    NaN    NaN    NaN    2.5    NaN    NaN    NaN
607        4.0    NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN
608        2.5    2.0    2.0    NaN    NaN    NaN    NaN    NaN    NaN    4.0
609        3.0    NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN    4.0
610        5.0    NaN    NaN    NaN    NaN    5.0    NaN    NaN    NaN    NaN

         ...                                                                 \
movieId  ... 193565 193567 193571 193573 193579 193581 193583 193585 193587
userId   ...
1        ...    NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN
2        ...    NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN
3        ...    NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN
4        ...    NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN
5        ...    NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN
...      ...    ...    ...    ...    ...    ...    ...    ...    ...    ...
606      ...    NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN
607      ...    NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN
608      ...    NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN
609      ...    NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN
610      ...    NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN


movieId 193609
userId
1          NaN
2          NaN
3          NaN
4          NaN
5          NaN
...        ...
606        NaN
607        NaN
608        NaN
609        NaN
610        NaN

[610 rows x 9724 columns]

In [26]:
# 결측치를 0으로 변경하자
rp.fillna(0, inplace = True)

In [27]:
# 데이터 확인
rp

        rating                                                                 \
movieId 1      2      3      4      5      6      7      8      9      10
userId
1          4.0    0.0    4.0    0.0    0.0    4.0    0.0    0.0    0.0    0.0
2          0.0    0.0    0.0    0.0    0.0    0.0    0.0    0.0    0.0    0.0
3          0.0    0.0    0.0    0.0    0.0    0.0    0.0    0.0    0.0    0.0
4          0.0    0.0    0.0    0.0    0.0    0.0    0.0    0.0    0.0    0.0
5          4.0    0.0    0.0    0.0    0.0    0.0    0.0    0.0    0.0    0.0
...        ...    ...    ...    ...    ...    ...    ...    ...    ...    ...
606        2.5    0.0    0.0    0.0    0.0    0.0    2.5    0.0    0.0    0.0
607        4.0    0.0    0.0    0.0    0.0    0.0    0.0    0.0    0.0    0.0
608        2.5    2.0    2.0    0.0    0.0    0.0    0.0    0.0    0.0    4.0
609        3.0    0.0    0.0    0.0    0.0    0.0    0.0    0.0    0.0    4.0
610        5.0    0.0    0.0    0.0    0.0    5.0    0.0    0.0    0.0    0.0

         ...                                                                 \
movieId  ... 193565 193567 193571 193573 193579 193581 193583 193585 193587
userId   ...
1        ...    0.0    0.0    0.0    0.0    0.0    0.0    0.0    0.0    0.0
2        ...    0.0    0.0    0.0    0.0    0.0    0.0    0.0    0.0    0.0
3        ...    0.0    0.0    0.0    0.0    0.0    0.0    0.0    0.0    0.0
4        ...    0.0    0.0    0.0    0.0    0.0    0.0    0.0    0.0    0.0
5        ...    0.0    0.0    0.0    0.0    0.0    0.0    0.0    0.0    0.0
...      ...    ...    ...    ...    ...    ...    ...    ...    ...    ...
606      ...    0.0    0.0    0.0    0.0    0.0    0.0    0.0    0.0    0.0
607      ...    0.0    0.0    0.0    0.0    0.0    0.0    0.0    0.0    0.0
608      ...    0.0    0.0    0.0    0.0    0.0    0.0    0.0    0.0    0.0
609      ...    0.0    0.0    0.0    0.0    0.0    0.0    0.0    0.0    0.0
610      ...    0.0    0.0    0.0    0.0    0.0    0.0    0.0    0.0    0.0


movieId 193609
userId
1          0.0
2          0.0
3          0.0
4          0.0
5          0.0
...        ...
606        0.0
607        0.0
608        0.0
609        0.0
610        0.0

[610 rows x 9724 columns]

In [28]:
# 계산 속도를 향상 시키기 위해서 DataFrame을 array로 전환 하자
import numpy as np
rp_array = rp.to_numpy()

In [29]:
# 데이터 확인
rp_array

array([[4. , 0. , 4. , ..., 0. , 0. , 0. ],
       [0. , 0. , 0. , ..., 0. , 0. , 0. ],
       [0. , 0. , 0. , ..., 0. , 0. , 0. ],
       ...,
       [2.5, 2. , 2. , ..., 0. , 0. , 0. ],
       [3. , 0. , 0. , ..., 0. , 0. , 0. ],
       [5. , 0. , 0. , ..., 0. , 0. , 0. ]])

#### 영화-영화 유사도 행렬

In [41]:
import time
from scipy.spatial.distance import cosine

start_time = time.time()

m, n = rp.shape
movies_array = np.zeros((n,n))
for i in range(n):
    for j in range(n):
        if i != j:
            movies_array[i,j] = 1 - cosine(rp_array[:,i], rp_array[:,j])
        else:
            movies_array[i,j] = 0

            
print(time.time() - start_time)

4400.939563035965

In [42]:
pd_movies = pd.DataFrame(
    movies_array,
    index = rp.columns,
    columns = rp.columns
)

In [44]:
pd_movies.to_csv('./Data/ml-latest-small/pd_movies.csv', sep = ',')
pd_movies = pd.read_csv('./Data/ml-latest-small/pd_movies.csv')

In [46]:
# 유사한 영화 검색
def topn_simovies(mid = 588, n = 15):
    mid_ratings = pd_movies.loc[mid, :].sort_values(ascending = False)
    topn_movies = pd.DataFrame(mid_ratings.iloc[:n,])
    topn_movies['index1'] = topn_movies.index
    topn_movies['index1'] = topn_movies['index1'].astype('int64')
    topn_movies = pd.merge(topn_movies, movies[['movieId', 'title']], left_on = 'index1', right_on = 'movieId')
    print(moives['title'][movies['movieId'] == mid].to_string(index = False))
    del topn_movies['index1']
    return topn_movies
print(topn_simovies(mid = 589, n = 15))

TypeError: '<' not supported between instances of 'numpy.ndarray' and 'str'